org.liberty.gchb.path=/home/dev_power/projects/fake-git-commit-test
org.liberty.gchb.start-date=2025-02-01
org.liberty.gchb.end-date=2025-02-09
org.liberty.gchb.start-time=08:00:00
org.liberty.gchb.end-time=16:30:00
org.liberty.gchb.is-weekend-included=true
org.liberty.gchb.is-only-weekend=false
org.liberty.gchb.min-commit-per-day=2
org.liberty.gchb.max-commit-per-day=10